<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">Color Palette</h4>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javaScript:;">Wipe Admin</a></li>
        <li class="breadcrumb-item"><a href="javaScript:;">UI Elements</a></li>
        <li class="breadcrumb-item active" aria-current="page">Color Palette</li>
     </ol>
   </div>
   <div class="col-sm-3">
    <div class="btn-group float-sm-right" ngbDropdown>
     <button type="button" class="btn btn-outline-primary"><i class="fa fa-cog mr-1"></i> Setting</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownBasic4" ngbDropdownToggle>
     <span class="caret"></span>
     </button>
     <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic4">
       <a href="javaScript:;" class="dropdown-item">Action</a>
       <a href="javaScript:;" class="dropdown-item">Another action</a>
       <a href="javaScript:;" class="dropdown-item">Something else here</a>
       <div class="dropdown-divider"></div>
       <a href="javaScript:;" class="dropdown-item">Separated link</a>
     </div>
   </div>
  </div>
 </div>
<!-- End Breadcrumb-->



     <h6 class="text-uppercase">Solid Background Colors</h6>
     <hr>
     <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-primary">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-primary</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-success">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-success</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-info">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-info</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-secondary">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-secondary</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-danger">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-danger</span>
                </div>
            </div>
        </div>
         <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-dark">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-dark</span>
                </div>
            </div>
        </div>
         <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-warning">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-warning</span>
                </div>
            </div>
        </div>
         <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card bg-light">
                <div class="card-body text-center p-5">
                    <span class="text-white">.bg-light</span>
                </div>
            </div>
        </div>
       </div><!-- End Row-->
       
      
      <h6 class="text-uppercase">Gradients Background Colors</h6>
      <hr>
      <div class="row">
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-bloody">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-bloody</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-scooter">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-scooter</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-blooker">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-blooker</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-quepal">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-quepal</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-purpink">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-purpink</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-dusk">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-dusk</span>
                      </div>
                  </div>
              </div>
               <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-ibiza">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-ibiza</span>
                      </div>
                  </div>
              </div>
               
               <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-meridian">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-meridian</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-violet">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-violet</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-titanium">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-titanium</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-shifter">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-shifter</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-army">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-army</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-orange">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-orange</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-yoda">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-yoda</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-royal">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-royal</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-knight">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-knight</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-forest">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-forest</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-redmist">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-redmist</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-steelgray">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-steelgray</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-influenza">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-influenza</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-ohhappiness">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-ohhappiness</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-branding">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-branding</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-deepblue">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-deepblue</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-sylvia">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-sylvia</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-jshine">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-jshine</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-lovekiss">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-lovekiss</span>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-4">
                  <div class="card gradient-hossein">
                      <div class="card-body text-center p-5">
                          <span class="text-white">.gradient-hossein</span>
                      </div>
                  </div>
              </div>
                  
          </div>