<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
  <div class="col-sm-9">
      <h4 class="page-title">Pricing Table</h4>
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javaScript:;">Wipe Admin</a></li>
      <li class="breadcrumb-item"><a href="javaScript:;">UI Elements</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pricing Table</li>
   </ol>
 </div>
  <div class="col-sm-3">
    <div class="btn-group float-sm-right" ngbDropdown>
      <button type="button" class="btn btn-outline-primary"><i class="fa fa-cog mr-1"></i> Setting</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownBasic4" ngbDropdownToggle>
      <span class="caret"></span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic4">
        <a href="javaScript:;" class="dropdown-item">Action</a>
        <a href="javaScript:;" class="dropdown-item">Another action</a>
        <a href="javaScript:;" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a href="javaScript:;" class="dropdown-item">Separated link</a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb-->


<div class="row">
  <div class="col-lg-4">
    <div class="pricing-table">
      <div class="card">
        <div class="card-body text-center">
          <div class="price-title">PERSONAL</div>
          <h2 class="price"><small class="currency">$</small>199</h2>
          <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>4 GB</b> Ram</li>
          <li class="list-group-item"><b>80 GB</b> Disk Space</li>
          <li class="list-group-item">Monthly Backups</li>
          <li class="list-group-item">Email Support</li>
          <li class="list-group-item">24X7 Support</li>
          </ul>
          <a href="javascript:;" class="btn btn-primary my-3 btn-round">View More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="pricing-table">
      <div class="card">
        <div class="card-body text-center">
          <div class="price-title">BUSINESS</div>
          <h2 class="price"><small class="currency">$</small>299</h2>
          <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>4 GB</b> Ram</li>
          <li class="list-group-item"><b>80 GB</b> Disk Space</li>
          <li class="list-group-item">Monthly Backups</li>
          <li class="list-group-item">Email Support</li>
          <li class="list-group-item">24X7 Support</li>
          </ul>
          <a href="javascript:;" class="btn btn-danger my-3 btn-round">View More</a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-lg-4">
      <div class="pricing-table">
        <div class="card">
          <div class="card-body text-center">
            <div class="price-title">CORPORATE</div>
            <h2 class="price"><small class="currency">$</small>399</h2>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>4 GB</b> Ram</li>
            <li class="list-group-item"><b>80 GB</b> Disk Space</li>
            <li class="list-group-item">Monthly Backups</li>
            <li class="list-group-item">Email Support</li>
            <li class="list-group-item">24X7 Support</li>
            </ul>
            <a href="javascript:;" class="btn btn-success my-3 btn-round">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--End Row-->

 <div class="row">
  <div class="col-lg-4">
  <div class="pricing-table pricing-table-color">
   <div class="card bg-info">
    <div class="card-body text-center">
     <div class="price-title text-white">PERSONAL</div>
       <h2 class="price text-white"><small class="currency">$</small>199</h2>
       <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>4 GB</b> Ram</li>
        <li class="list-group-item"><b>80 GB</b> Disk Space</li>
        <li class="list-group-item">Monthly Backups</li>
        <li class="list-group-item">Email Support</li>
        <li class="list-group-item">24X7 Support</li>
      </ul>
      <a href="javascript:;" class="btn btn-link text-primary bg-white my-3 btn-round">View More</a>
    </div>
   </div>
   </div>
  </div>
  
  <div class="col-lg-4">
  <div class="pricing-table pricing-table-color">
   <div class="card bg-warning">
    <div class="card-body text-center">
     <div class="price-title text-white">BUSINESS</div>
       <h2 class="price text-white"><small class="currency">$</small>299</h2>
       <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>4 GB</b> Ram</li>
        <li class="list-group-item"><b>80 GB</b> Disk Space</li>
        <li class="list-group-item">Monthly Backups</li>
        <li class="list-group-item">Email Support</li>
        <li class="list-group-item">24X7 Support</li>
      </ul>
      <a href="javascript:;" class="btn btn-link text-danger bg-white my-3 btn-round">View More</a>
    </div>
   </div>
   </div>
  </div>
  
  <div class="col-lg-4">
   <div class="pricing-table pricing-table-color">
   <div class="card bg-success">
    <div class="card-body text-center">
     <div class="price-title text-white">CORPORATE</div>
       <h2 class="price text-white"><small class="currency">$</small>399</h2>
       <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>4 GB</b> Ram</li>
        <li class="list-group-item"><b>80 GB</b> Disk Space</li>
        <li class="list-group-item">Monthly Backups</li>
        <li class="list-group-item">Email Support</li>
        <li class="list-group-item">24X7 Support</li>
      </ul>
      <a href="javascript:;" class="btn btn-link text-success bg-white my-3 btn-round">View More</a>
    </div>
   </div>
   </div>
  </div>
 </div><!--End Row-->

  <div class="row">
    <div class="col-lg-4">
      <div class="pricing-table pricing-table-color">
        <div class="card gradient-branding">
        <div class="card-body text-center">
            <div class="price-title text-white">PERSONAL</div>
              <h2 class="price text-white"><small class="currency">$</small>199</h2>
              <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>4 GB</b> Ram</li>
              <li class="list-group-item"><b>80 GB</b> Disk Space</li>
              <li class="list-group-item">Monthly Backups</li>
              <li class="list-group-item">Email Support</li>
              <li class="list-group-item">24X7 Support</li>
              </ul>
              <a href="javascript:;" class="btn btn-link text-primary bg-white my-3 btn-round">View More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="pricing-table pricing-table-color">
      <div class="card gradient-sylvia">
        <div class="card-body text-center">
            <div class="price-title text-white">BUSINESS</div>
            <h2 class="price text-white"><small class="currency">$</small>299</h2>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>4 GB</b> Ram</li>
            <li class="list-group-item"><b>80 GB</b> Disk Space</li>
            <li class="list-group-item">Monthly Backups</li>
            <li class="list-group-item">Email Support</li>
            <li class="list-group-item">24X7 Support</li>
            </ul>
            <a href="javascript:;" class="btn btn-link text-danger bg-white my-3 btn-round">View More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="pricing-table pricing-table-color">
      <div class="card gradient-ohhappiness">
        <div class="card-body text-center">
          <div class="price-title text-white">CORPORATE</div>
          <h2 class="price text-white"><small class="currency">$</small>399</h2>
          <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>4 GB</b> Ram</li>
          <li class="list-group-item"><b>80 GB</b> Disk Space</li>
          <li class="list-group-item">Monthly Backups</li>
          <li class="list-group-item">Email Support</li>
          <li class="list-group-item">24X7 Support</li>
          </ul>
          <a href="javascript:;" class="btn btn-link text-success bg-white my-3 btn-round">View More</a>
      </div>
      </div>
    </div>
  </div>
</div><!--End Row-->