<!-- Start wrapper-->
<div id="wrapper">

    <div class="height-100v d-flex align-items-center justify-content-center ">
        <div class="card card-authentication1 border-primary border-top-sm mb-0">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="card-title text-uppercase text-center py-3">Cambiar contraseña:</div>
                    <form [formGroup]="formCorreo">
                        <div class="form-group">
                            <div class="position-relative has-icon-right">
                                <label for="exampleInputUsername" class="sr-only">Correo de recuperación:</label>
                                <input readonly (keydown.enter)="cambiar()" formControlName="txtCorreo" type="text"
                                    id="exampleInputUsername" class="form-control form-control" placeholder="Correo">
                                <div class="form-control-position">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername" class="sr-only">Contreseña:</label>
                            <input (keydown.enter)="cambiar()" formControlName="nuevaContresena" type="text"
                                id="exampleInputUsername" class="form-control form-control" placeholder="******">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername" class="sr-only">Confirmar contreseña:</label>
                            <input (keydown.enter)="cambiar()" formControlName="repNuevaContresena" type="text"
                                id="exampleInputUsername" class="form-control form-control" placeholder="******">

                        </div>
                        <button type="button" (click)="cambiar()"
                            class="btn btn-primary btn-block waves-effect waves-light">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--wrapper-->