<full-calendar [options]="calendarOptions"></full-calendar>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ver detalle</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"> × </span>
    </button>
    </div>
    <div class="modal-body">
        <p>
            Persona: {{ sreserva?.persona.nombre }} {{ sreserva?.persona.apellidoPaterno }}
        </p>
        <p>Area comun: {{ sreserva?.areacomun.nombre }}</p>
        <p>Evento: {{ sreserva?.nombre }}</p>
        <p>Fecha inicio: {{ sreserva?.fechaInicio | date: "dd/MM/yyyy" }}</p>
        <p>Fecha fin: {{ sreserva?.fechaFin | date: "dd/MM/yyyy" }}</p>
        <p>Hora inicio: {{ sreserva?.fechaInicio | date: "h:mm a" }}</p>
        <p>Hora fin: {{ sreserva?.fechaFin | date: "h:mm a" }}</p>
        
    </div>
</ng-template>