<div class="row" style="margin-bottom: 15px">
    <!--Button zona-->
    <input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Buscar" />
</div>
<div class="row">
    <!--Tabla-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Área</th>
                <th scope="col">Evento</th>
                <th scope="col">Inicio</th>
                <th scope="col">Final</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of lReserva | filter: filtro">
                <th scope="row">
                    {{ res.persona.nombre }} {{ res.persona.apellidoPaterno }}
                </th>
                <td>{{ res.areacomun.nombre }}</td>
                <td>{{ res.nombre }}</td>
                <td>{{ res.fechaInicio | date: "dd/MM/yyyy" }}</td>
                <td>{{ res.fechaFin | date: "dd/MM/yyyy" }}</td>
                <td>
                    {{ res.estado == "2" ? "Pendiente" : res.estado == "1" ? "Aprobado" : "Rechazado" }}
                </td>
                <td>
                    <button style="margin: 3px" (click)="fnAbrirModal(content); fnSeleccionar(res)" class="btn btn-dark">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
                    <button style="margin: 3px" (click)="fnActualizar(res, 1)" [disabled]="res.estado != 2" class="btn btn-dark">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
                    <button style="margin: 3px" (click)="fnActualizar(res, 0)" [disabled]="res.estado != 2" class="btn btn-dark">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ver detalle</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"> × </span>
    </button>
    </div>
    <div class="modal-body">
        <p>
            Persona: {{ sreserva?.persona.nombre }} {{ sreserva?.persona.apellidoPaterno }}
        </p>
        <p>Area comun: {{ sreserva?.areacomun.nombre }}</p>
        <p>Evento: {{ sreserva?.nombre }}</p>
        <p>Fecha inicio: {{ sreserva?.fechaInicio | date: "dd/MM/yyyy" }}</p>
        <p>Fecha fin: {{ sreserva?.fechaFin | date: "dd/MM/yyyy" }}</p>
        <p>Hora inicio: {{ sreserva?.fechaInicio | date: "h:mm a" }}</p>
        <p>Hora fin: {{ sreserva?.fechaFin | date: "h:mm a" }}</p>
        
    </div>
</ng-template>