<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">Responsive</h4>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javaScript:;">Wipe Admin</a></li>
        <li class="breadcrumb-item"><a href="javaScript:;">Table</a></li>
        <li class="breadcrumb-item active" aria-current="page">Responsive</li>
        </ol>
    </div>
    <div class="col-sm-3">
    <div class="btn-group float-sm-right" ngbDropdown>
        <button type="button" class="btn btn-outline-primary"><i class="fa fa-cog mr-1"></i> Setting</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownBasic4" ngbDropdownToggle>
        <span class="caret"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic4">
        <a href="javaScript:;" class="dropdown-item">Action</a>
        <a href="javaScript:;" class="dropdown-item">Another action</a>
        <a href="javaScript:;" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a href="javaScript:;" class="dropdown-item">Separated link</a>
        </div>
    </div>
    </div>
</div>
<!-- End Breadcrumb-->
 
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Responsive Table</h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!--End Row-->