<div class="settings-tray">
    <div class="friend-drawer no-gutters friend-drawer--grey">
        <img class="profile-image"
            src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="">
        <div class="text d-flex alig-items-center">
            <h5 class="d-flex align-items-center" *ngIf="rol=='RESIDENTE'">
                {{chatSeleccionado.admin.nombre}}
            </h5>
            <h5 class="d-flex align-items-center" *ngIf="rol!='RESIDENTE'">
                {{chatSeleccionado.user.nombre}} {{chatSeleccionado.user.apellidoPaterno}}
            </h5>
        </div>
    </div>
</div>

<div #scrollMe style="height: xyz;" class="chat-panel">
    <div *ngFor="let mensaje of lmensajes"  class="row no-gutters">
        <div [className]="mensaje.sendBy==idUser?'col-md-3 offset-md-9':'col-md-3'" >
            <div [className]="mensaje.sendBy==idUser?'chat-bubble chat-bubble--right':'chat-bubble chat-bubble--left'">
                {{mensaje.name}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="chat-box-tray">
            <input type="text" (keydown.enter)="sendMessage()" [(ngModel)]="message" placeholder="Escriba su mensaje...">
            <button id="button-addon2" (click)="sendMessage()" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>        </div>
    </div>
</div>